form {

    label {
        display: block;
        font-size: 11px;
        font-family: $font-family-monospace;
        text-transform: uppercase; 
        letter-spacing: 2.2px;
        line-height: 29px;
        color: $brand-primary;
    } // label

    input {
        width: 100%;
        padding: 4px;
        border-style: none;
        border: 1px solid $brand-secondary;
        background-color: $grey-light;
        font-size: 16px;
        font-family: $font-family-monospace;
        letter-spacing: 2.2px;
        line-height: 1.45em;
        color: $brand-primary;
        outline: 0px;

    &[type=submit] {
        position: relative;
        display: block;
        width: 186px;
        height: 51px;
        background-color: $brand-secondary;
        font-size: 15px;
        font-weight: 500;
        font-family: $font-family-monospace;
        text-transform: uppercase; 
        letter-spacing: 2.2px;
        color: $grey-base;
        z-index: 12;

        
        @media screen and (max-width: $screen-xs) {       
            margin-top: 10px;
        }
        
        &:hover,
        &:active {
            cursor: pointer;
        }  //input[type=submit]:hover, input[type=submit]:active 

    } // input[type=submit]

    } // input
} // form